* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

:root {
  --margin-site: 2rem;
  --height-header: 6rem;
  --color-background-1: antiquewhite;
}

react-render,
flex-wrapper {
  display: block;
}

