.site__header {

  padding-left: var(--margin-site);
  padding-right: var(--margin-site);
  height: var(--height-header);

  display: grid;
  grid-template-columns: 1fr 18fr 1fr;

  border-bottom: 1px solid black;
}

.header__h1 {
  padding-left: 2rem;
}

.header__menu-btn {
  font-size: 2rem;
  transition: all 0.3s ease-in-out;

  text-align: center;
  width:3rem;
  height:3rem;

  border: 1px solid black;
}

.--transparent {
  opacity: 0%;
}

.header--flex {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: left;
}

.site__wrapper {
  width: 100vw;
  height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: row;
}

.site__sidebar {
  width: 0px;
  height: 100%;
  background-color: beige;

  transition: all 0.3s ease-in-out;

  flex-shrink: 0;
  overflow: hidden;
}

.--open {
  width: 125px;
}

.sidebar__nav-item {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.sidebar__nav-item:hover {
  background-color: rgb(170, 170, 159);
}

.site__main {
  flex-grow: 1;
  height: 100%;

  overflow-y: scroll;
}