
:root {
  --header-font-size: 1rem;
  --margin-site: 1rem;
  /* --header-font-size: 2rem; */
}

.site__header {
  padding-left: calc(2 * var(--margin-site));
  padding-right: calc(2 * var(--margin-site));  
  
  display: grid;
  grid-template-columns: var(--header-font-size) 1fr var(--header-font-size);

  font-family: var(--font-two);
  border-bottom: 1px solid black;

  height: var(--height-header);
  overflow: hidden;
}

.header-column--flex {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
}

.header__h1 {
  font-size: var(--header-font-size);
  font-weight: 400;
}

.header__menu-btn {
  font-size: var(--header-font-size);
  transition: all 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

.--transparent {
  cursor: default;
  opacity: 0%;
}


.site__wrapper {
  width: 100vw;
  height: calc(100vh - var(--height-header)); 

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.site__sidebar {
  width: 0px;
  height: 100%;
  
  /* background-color: beige; */
  border: none;
  text-align: center;
  font-family: var(--font-three);

  transition: all 0.3s ease-in-out;

  flex-shrink: 0;
  overflow: hidden;

  background-color: rgb(246, 246, 246);
}

.--open {
  width: calc(6 * var(--margin-site));
  border-right: 0.5px solid rgba(34, 33, 33, 0.4);
}

.sidebar__close-btn {
  background-color: rgb(211, 211, 211);
  border-bottom: 0.5px solid rgb(170, 170, 159);
}

.sidebar__nav-item {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  border-bottom: 0.5px solid rgb(170, 170, 159);
}

.sidebar__nav-item:hover {
  background-color: rgb(170, 170, 159);
}

.site__main {
  margin-left: var(--margin-site);
  margin-right: var(--margin-site);

  flex-grow: 1;
  height: 100%;

  overflow-y: scroll;
}