:root {
  --header-height: 7rem;
  --site-margin-sides: 2rem;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

/* * removing default of links*/
a {
  color: inherit;
  text-decoration: none;
}

/* * removing default pading and adding box-sizing*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  margin-top: calc(var(--header-height));
}