.header {
  width: 100%;

  position: fixed;
  top: 0;

  border-bottom: 1px solid #eaeaea;

  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0,0%,100%,.8);
}

.banner {
  height: 3rem;

  background-color: black;
  color: antiquewhite;
}

.nav_bar {
  height:  3rem;
}