* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-react-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --height-header: 4rem;
  
  --color-dark-pink: rgba(255,151,192,255);
  --color-medium-pink: rgba(255,170,203,255);
  --color-light-pink: rgba(255,189,215,255);
  --color-lightest-pink: rgba(255,226,228,255);
  --color-dark-beige: rgba(251,229,200,255);
  --color-light-beige: rgba(255,239,224,255);
  --color-grey: rgba(246,246,246,255);
}

@media screen and (max-width: 350px) {
  html {
    font-size: 12px;
  }
}

react-render {
  display: block;

  height: 100vh;
  width: 100vw;

  font-family: var(--font-react-default);
}
