.main__pageState-section {
  height: var(--height-search-section);
  width: 100%;

  padding-left: calc(calc(100vw - 20rem)/2);
  padding-right: calc(calc(100vw - 20rem)/2);

  font-size: 0.6rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pageState-btn {
  background-color: inherit;
  font-size: 1.2em;

  width: 2.3em;
  height: 3em;

  border-radius: 0.3em;

  color: var(--color-darker-grey);
  border: 1px solid var(--color-darker-grey);

  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2); 
}

.current-page {
  border-color: black;
  color: black;
}