
:root {
  --font-react-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  --height-header: 4rem;
  --height-search-section: 8rem;
  
  --color-dark-pink: rgba(255,151,192,255);
  --color-medium-pink: rgba(255,170,203,255);
  --color-light-pink: rgba(255,189,215,255);
  --color-lightest-pink: rgba(255,226,228,255);
  --color-dark-beige: rgba(251,229,200,255);
  --color-light-beige: rgba(255,239,224,255);
  --color-darker-grey: rgba(167,167,167,255);
  --color-dark-grey: rgba(232,224,222,255);
  --color-grey: rgba(246,246,246,255);
  --color-pastel-green: rgba(185,181,157,255);
}

.test-class-1 {
  height: var(--height-search-section);
  width: 100%;
  border: 1px solid black;

  padding-left: calc(calc(100vw - 20rem)/2);
  padding-right: calc(calc(100vw - 20rem)/2);
}

.main__pageState-section {
  height: var(--height-search-section);
  width: 100%;

  padding-left: calc(calc(100vw - 20rem)/2);
  padding-right: calc(calc(100vw - 20rem)/2);

  font-size: 0.6rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.--flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  padding-bottom: 1rem;
  padding-top: 1rem;

  width: 100%;
  /* height: calc(100vh - var(--height-search-section) - var(--height-header));
  overflow-y:scroll; */
}

@media screen and (min-width: 650px) {
  .main__list-wrapper {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 2rem;
  
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .main__list-wrapper {
    width: 700px;
  }
  .test-class-1 {
    padding-left: calc(calc(100vw - 2*20rem - 30px)/2);
    padding-right: calc(calc(100vw - 2*20rem - 30px)/2);
  }
}
@media screen and (min-width: 1050px) {
  .main__list-wrapper {
    width: 1050px;
    grid-template-columns: repeat(3, 1fr);
  }
  .test-class-1 {
    padding-left: calc(calc(100vw - 3*20rem - 2*30px)/2);
    padding-right: calc(calc(100vw - 3*20rem - 2*30px)/2);
  }
}
@media screen and (min-width: 1400px) {
  .main__list-wrapper {
    width: 1400px;
    grid-template-columns: repeat(4, 1fr);
  }
  .test-class-1 {
    padding-left: calc(calc(100vw - 4*20rem - 3*30px)/2);
    padding-right: calc(calc(100vw - 4*20rem - 3*30px)/2);
  }
}

.main__product-card {
  border: 2px solid var(--color-dark-grey);
  text-decoration: none;

  border-radius: 0.7rem;

  overflow: hidden;
  background-color: white;

  width: 20rem;
  height: 15rem;

  flex-shrink: 0;
  display: grid;

  grid-template-rows: 6fr 4fr;

  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); 

}

.product-card__image-wrapper {
  background-color: var(--color-grey);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.product-card__product-image {
  flex-shrink: 0;
  max-width: 75%;
  max-height: 75%
}

.product-card__info-wrapper {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-wrapper__type-and-stock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.info__name {
  color: black;
}
.info__type {
  color: var(--color-darker-grey);
}
.info__storage {
  color: var(--color-pastel-green);
}

.pageState-btn {
  background-color: inherit;
  font-size: 1.2em;

  width: 2.3em;
  height: 3em;

  border-radius: 0.3em;

  color: var(--color-darker-grey);
  border: 1px solid var(--color-darker-grey);

  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2); 

}



.current-page {
  border-color: black;
  color: black;
}