.box {
  border: 1px solid black;
}

.section-search-filter__filter-dropdown {
  font-size: 1.2rem;
  width: 15rem;
  display: inline-block;
  position: relative;
}

.filter-dropdown__dropdown-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: white; */
}
.label__text {
  color: var(--color-pastel-green);
}
.active-filters-card {
  margin-left: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.1rem;
  border-radius: 0.5rem;

  font-size: 0.7rem;
  cursor: pointer;

  background-color: var(--color-pastel-green);
  color: white;
}
.active-filters-card:hover {
  background-color: var(--color-dark-pink);
}

.section-search-filter__filter-dropdown:hover .dropdown-menu {
  max-height: 100vh;
  transition: all 0.5s ease-out;
}
.dropdown-menu {
  max-height: 0;

  list-style: none;
  background-color: white;
  border-radius: 0rem 0rem 0.5rem 0.5rem ;
  
  position: absolute;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.filter-btn {
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  background-color: var(--color-dark-pink);
  color: white;
  transition: all 0.3s ease-in-out;
  /* border-bottom: 1px solid var(--color-darker-grey);
  box-shadow: inset 0px -0.5px 1px 0px var(--color-darker-grey); */
}
.filter-btn:hover {
  background-color: var(--color-pastel-green);
  color: white;  
}

.dropdown-menu__menu-item {
  text-align: center;
  cursor: pointer;
  width: 100%;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  box-shadow: inset 0px -1px 1px 0px var(--color-dark-grey);
  border-bottom: 1px solid var(--color-darker-grey);  
}
.--menu-item-selected {
  box-shadow: inset 0px 1px 1px 0px var(--color-dark-grey);
  background-color: var(--color-pastel-green);
}
.dropdown-menu__menu-item:hover {
  box-shadow: inset 0px 1px 3px 0px white;
  background-color: var(--color-dark-grey);
}
.--menu-item-selected:hover {
  background-color: var(--color-dark-pink);
}


.filter-option:hover {
  /* 
  transition: all 0.1s ease-in-out; 
  */
  box-shadow: inset 0px 1px 3px 0px white;
  background-color: var(--color-dark-grey);
}
.filter-label {
  box-shadow: inset 0px -1px 1px 0px var(--color-dark-grey);
  border-bottom: 1px solid var(--color-darker-grey);

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  width: 100%;
  cursor: pointer;
}
.filter-input {
  margin-right: 1rem;
}


