.main__flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-wrapper__back-btn {
  display: block;
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-left: 20%;

  padding-left: 0.6em;
  padding-right: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  border: none;
  border-radius: 1em;

  font-size: 0.8rem;
  cursor: pointer;

  background-color: var(--color-pastel-green);
  color: white;
  transition: all 0.2s ease-in-out;
}
.flex-wrapper__back-btn:hover {
  animation: btn-anim 1s ease-in-out 0s infinite;

  background-color: var(--color-dark-pink);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@keyframes btn-anim{
  0%{margin-left: 20%;}
  50%{margin-left: 19%;}
  100%{margin-left: 20%;}
}
.flex-wrapper__back-btn:active {
  animation-play-state: paused;

  background-color: var(--color-medium-pink);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.flex-wrapper__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  height: 16rem;

  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 0px 1px 3px 0px var(--color-darker-grey);
}

.article__image-wrapper {
  background-color: var(--color-grey);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.image-wrapper__product-image {
  flex-shrink: 0;
  max-width: 75%;
  max-height: 75%
}

.article__info {
  padding-left: 1rem;
}